/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/


/.idea/*
/.idea
.idea
!/.idea/*
.idea/cas.iml
!/.idea/cas.iml


/web/fingerprints/*
/web/img/*
/web/onregisterpics/*
/web/pub_covers/*
/web/uploads/*
/web/user_profile_pictures/*
/web/company_images/*


/web/first_time