{% extends 'base.html.twig' %}


{% block title %}C.A.S - Expiration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col l12">
            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active collapsible-header-title">Page d'erreur</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form class="col l12" id="main_form">
                                        <span id="type1">
                                            <div class="row firstOne">
                                                <div class="col l12">
                                                    <span class="fa fa-exclamation-circle fa-3x text-danger"></span>
                                                    <span style="position: relative;top: -10px;font-size: 20px">
                                                        Oups!!
                                                        {% if errorCode is defined and errorCode is not null %}
                                                            <span>
                                                                {{ errorCode }}
                                                            </span>
                                                        {% endif %}
                                                    </span>
                                                    <h6 style="margin-left: 70px;font-size: 16px">
                                                        {% if errorMessage is defined and errorMessage is not null %}
                                                            {{ errorMessage }}
                                                        {% endif %}
                                                        Une erreur est survenue lors du traitement de votre requête
                                                    </h6>
                                                </div>
                                            </div>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#submitExpiryDate").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('expiryDate') }}",
                    data: {'date':$("#expiryDate").val()},
                    success: function(data) {
                        alert(data);
                    },
                    error: function () {
                        alert("Erreur");
                    }
                });
            });
        });
    </script>
{% endblock %}
