{% extends 'base.html.twig' %}


{% block title %}C.A.S - Expiration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col l12">
            <h5>Gestion de la date d'expiration</h5>

            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Gérer la date d'expiration</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form class="col l12" id="main_form">
                                        <span id="type1">
                                            <div class="row firstOne">
                                                <div class="col l12">
                                                    <h5>Date d'expiration</h5>
                                                </div>
                                            </div>
                                            <div>
                                                <input type="text" class="datepicker" id="expiryDate" placeholder="Entrez la nouvelle date d'expiration">
                                                <br><br>
                                                <input type="button" id="submitExpiryDate" class="btn" value="Valider">
                                            </div>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#submitExpiryDate").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('expiryDate') }}",
                    data: {'date':$("#expiryDate").val()},
                    success: function(data) {
                        alert(data);
                    },
                    error: function () {
                        alert("Erreur");
                    }
                });
            });
        });
    </script>
{% endblock %}
