{% extends 'base.html.twig' %}


{% block title %}C.A.S - Historique{% endblock %}

{% block body %}

    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content">
            <p class="center">
                <img src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>

    <!-- Modal for details -->
    <div id="modal_detail" class="modal">
        <div class="modal-content">
            <h5>Historique de cet employé</h5>
            <hr>
            <br>
            <div class="row">
                <div class="col s12">
                    <table class="table table-striped table-condensed">
                        <tbody>
                        <tr id="modal_element"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l12">
            <h5 class="page-title"><span class="fa fa-archive"></span> Historiques des présences</h5>

            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Historique de présences</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form class="col l12">
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row" id="errorContainer" style="display: none">
                                                    <div class="col l12">
                                                        <span class="red-text"></span>
                                                    </div>
                                                </div>
                                                <div class="row row-no-margin">
                                                    <div class="col l6">
                                                        <span>Veuillez sélectionner le département de votre choix</span>
                                                    </div>
                                                    <div class="col l6">
                                                        <select class="input-customized browser-default" id="selectedDep">
                                                            <option value="" selected>Département</option>
                                                            {% for dep in listDep %}
                                                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row row-no-margin">
                                                    <div class="col l6">
                                                        <span>Veuillez sélectionner la date de votre choix</span>
                                                    </div>
                                                    <div class="col l6">
                                                        <input type="text" class="datepicker input-customized" id="selectedDate" style="width: 98%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row row-no-margin">
                                                    <div class="col l12">
                                                        <input type="button" value="Rechercher" id="historySearchButton" class="right btn-perso-historique">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Section du classement des tops -->

            <div class="row">
                <div class="col l12">
                    <h5 class="table-title">Résultats de votre recherche</h5>
                    <br>
                    <span class="fa fa-circle" style="color: red"></span>
                    <span style="color: red">Retards ou départs prématurés</span>
                    <br><br>
                    <table class="bordered striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom et prénoms</th>
                            <th>Fonction</th>
                            <th>Type d'heure</th>
                            <th>Quota</th>
                            <th>Arrivée</th>
                            <th>Pause</th>
                            <th>Fin pause</th>
                            <th>Départ</th>
                            <th>Plus de détail</th>
                        </tr>
                        </thead>

                        <tbody id="rowsContainer">
                        <tr>
                            <td colspan="10">
                                <h5 class="center">Aucun résultat</h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        var dat = null;

        function demander(tag) {
            var empData = dat[tag];
            console.log(empData);
            $("#modal_element").html("");
            $.each(empData[1],function (arrayID) {
                $("#modal_element").append("<td>"+empData[1][arrayID]+"<td>");
            });
            $('#modal_detail').modal('open');
        }

        function precisionRound(number, precision) {
            var factor = Math.pow(10, precision);
            return Math.round(number * factor) / factor;
        }

        function convertType(type) {
            switch (type){
                case "1":
                    return "Heures figées";
                    break;
                case "2":
                    return "Quota horraire";
                    break;
                case "3":
                    return "Présence";
                    break;
                case "4":
                    return "Heures figées sans pause";
                    break;
            }
        }

        function returnEmployeeId(tabIndex,empTab) {
            return empTab[tabIndex];
        }
        $(function () {
            $("#historySearchButton").click(function () {
                //alert($("#selectedDate").val());
                if($("#selectedDate").val() != ""){
                    if($("#selectedDep").val() != ""){
                        // Modal open
                        $('#modal_loading').modal('open');
                        $("#errorContainer").hide();
                        $("#rowsContainer").html("");
                        $.ajax({
                            type: 'POST',
                            url: "findHistorique",
                            data: {id:$("#selectedDep").val(),date:$("#selectedDate").val()},
                            timeout: 0,
                            success: function(data) {
                                console.log(data);
                                // S'il n'y a aucun employé
                                if(data == "null"){
                                    $("#rowsContainer").append("" +
                                        "<tr>" +
                                        "<td colspan='9' class='center'><span>Aucun employé pour ce département</span></td>" +
                                        "</tr>"
                                    );
                                }
                                var res = JSON.parse(data.content);
                                console.log(res);
                                dat = data.allRecords;
                                var employees = [];
                                $.each(res.clockinRecord,function (id) {
                                    employees.push(res.clockinRecord[id].id);
                                });

                                console.log(data.emp);

                                var i=0;
                                $.each(data.emp,function (arrayID) {
                                    i++;
                                    var empId = returnEmployeeId(arrayID,data.emp);
                                    if(typeof (res.clockinRecord[arrayID][empId]) != "undefined"){
                                        //alert(data.empType[arrayID][1]);

                                        if ((res.clockinRecord[arrayID][empId]).arrive == 0) {
                                            (res.clockinRecord[arrayID][empId]).arrive = "<span style='color:red'>X</span>";
                                        }
                                        if ((res.clockinRecord[arrayID][empId]).pause == 0) {
                                            (res.clockinRecord[arrayID][empId]).pause = "<span style='color:red'>X</span>";
                                        }
                                        if ((res.clockinRecord[arrayID][empId]).finPause == 0) {
                                            (res.clockinRecord[arrayID][empId]).finPause = "<span style='color:red'>X</span>";
                                        }
                                        if ((res.clockinRecord[arrayID][empId]).arrive == 0) {
                                            (res.clockinRecord[arrayID][empId]).arrive = "<span style='color:red'>X</span>";
                                        }
                                        if ((res.clockinRecord[arrayID][empId]).depart == 0) {
                                            (res.clockinRecord[arrayID][empId]).depart = "<span style='color:red'>X</span>";
                                        }



                                        switch (res.clockinRecord[arrayID][empId].type){
                                            case "1":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].quota + "</td>" +
                                                    "<td><span class='redSpan_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].arrive +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].bH+"</span></td>" +
                                                    "<td><span class='redSpanPauseBegin_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].pause +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].pBH+"</span></td>" +
                                                    "<td><span class='redSpanPauseEnd_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].finPause +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].pEH+"</span></td>" +
                                                    "<td><span class='redSpanEnd_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].depart +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].eH+"</span></td>" +
                                                    "<td><button data-target='modal1' class='detail_button modal-trigger' onclick='demander("+(i-1)+")' tag='"+(i-1)+"' style=''>Détails</button></td>" +
                                                    "</tr>"
                                                );
                                                if(res.clockinRecord[arrayID][empId].arrive > res.clockinRecord[arrayID][empId].bH){
                                                    $(".redSpan_1_"+i).css("color","red");
                                                }if(res.clockinRecord[arrayID][empId].pause < res.clockinRecord[arrayID][empId].pBH){
                                                $(".redSpanPauseBegin_1_"+i).css("color","red");
                                            }if(res.clockinRecord[arrayID][empId].finPause > res.clockinRecord[arrayID][empId].pEH){
                                                $(".redSpanPauseEnd_1_"+i).css("color","red");
                                            }if(res.clockinRecord[arrayID][empId].depart < res.clockinRecord[arrayID][empId].eH){
                                                $(".redSpanEnd_1_"+i).css("color","red");
                                            }
                                                break;
                                            case "2":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td>" + precisionRound(res.clockinRecord[arrayID][empId].quota_fait/60,2) + "/" +res.clockinRecord[arrayID][empId].quota + "</td>" +
                                                    "<td><span class='redSpan_2_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].arrive +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].bH+"</span></td>" +
                                                    "<td><span class='redSpanPauseBegin_2_"+i+"' style='font-size: 17px;font-weight: 500'> - </span></td>" +
                                                    "<td><span class='redSpanPauseEnd_2_"+i+"' style='font-size: 17px;font-weight: 500'> - </span></td>" +
                                                    "<td><span class='redSpanEnd_2_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].depart +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].eH+"</span></td>" +
                                                    "<td><button data-target='modal1' class='detail_button modal-trigger' onclick='demander("+(i-1)+")' tag='"+(i-1)+"' style=''>Détails</button></td>" +
                                                    "</tr>"
                                                );
                                                if(res.clockinRecord[arrayID][empId].arrive > res.clockinRecord[arrayID][empId].bH){
                                                    $(".redSpan_2_"+i).css("color","red");
                                                }if(res.clockinRecord[arrayID][empId].pause < res.clockinRecord[arrayID][empId].pBH){
                                                $(".redSpanPauseBegin_2_"+i).css("color","red");
                                            }if(res.clockinRecord[arrayID][empId].finPause > res.clockinRecord[arrayID][empId].pEH){
                                                $(".redSpanPauseEnd_2_"+i).css("color","red");
                                            }if(res.clockinRecord[arrayID][empId].depart < res.clockinRecord[arrayID][empId].eH){
                                                $(".redSpanEnd_2_"+i).css("color","red");
                                            }
                                                break;
                                            case "3":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td colspan='5' class='green lighten-2 white-text center'> Présent </td>" +
                                                    "</tr>"
                                                );
                                                break;
                                            case "4":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].quota + "</td>" +
                                                    "<td><span class='redSpan_3_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].arrive +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].bH+"</span></td>" +
                                                    "<td><span class='redSpanPauseBegin_3_"+i+"' style='font-size: 17px;font-weight: 500'> - </span></td>" +
                                                    "<td><span class='redSpanPauseEnd_3_"+i+"' style='font-size: 17px;font-weight: 500'> - </span></td>" +
                                                    "<td><span class='redSpanEnd_3_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].depart +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].eH+"</span></td>" +
                                                    "<td><button data-target='modal1' class='detail_button modal-trigger' onclick='demander("+(i-1)+")' tag='"+(i-1)+"' style=''>Détails</button></td>" +
                                                    "</tr>"
                                                );
                                                if(res.clockinRecord[arrayID][empId].arrive > res.clockinRecord[arrayID][empId].bH){
                                                    $(".redSpan_3_"+i).css("color","red");
                                                }if(res.clockinRecord[arrayID][empId].pause < res.clockinRecord[arrayID][empId].pBH){
                                                $(".redSpanPauseBegin_3_"+i).css("color","red");
                                            }if(res.clockinRecord[arrayID][empId].finPause > res.clockinRecord[arrayID][empId].pEH){
                                                $(".redSpanPauseEnd_3_"+i).css("color","red");
                                            }if(res.clockinRecord[arrayID][empId].depart < res.clockinRecord[arrayID][empId].eH){
                                                $(".redSpanEnd_3_"+i).css("color","red");
                                            }
                                                break;
                                            case "null":
                                                $("#rowsContainer").appen("" +
                                                    "<tr>" +
                                                    "<td colspan='10' class='center gray lighten-3 white-text'><span style='font-weight:bold;color:green'> Présence non requise </span></td>" +
                                                    "</tr>"
                                                );
                                                break;

                                        }
                                    }else if(data.allRecords[arrayID][2] == "null" || data.empType[arrayID][1] == null){
                                        $("#rowsContainer").append("" +
                                            "<tr>" +
                                            "<td colspan='10' class='center gray lighten-3 white-text'><span style='font-weight:bold;color:green'> Présence non requise </span></td>" +
                                            "</tr>"
                                        );
                                    }else{
                                        console.log(data.emp);
                                        //alert("nexiste pas");
                                        $("#rowsContainer").append("" +
                                            "<tr>" +
                                            "<td colspan='10' class='center gray lighten-3 white-text'><span style='font-weight:bold;color:red'> Absence : </span><span style='font-weight: bold;color:black;'>" + data.empNames[arrayID] + " ("+ data.empCcid[arrayID] +")</span></td>" +
                                            "</tr>"
                                        );
                                    }
                                });

                                // Closing the loading box
                                $('#modal_loading').modal('close');
                            },
                            error: function(msg) {
                                // Closing the loading box
                                $('#modal_loading').modal('close');
                                alert("erreur");
                            }
                        });
                    }else {
                        $("#errorContainer").show();
                        $("#errorContainer div span").text("Erreur : veuillez choisir un département");
                        $("#rowsContainer").html("<tr><td colspan='9'><h5 class='center'>Aucun résultat</h5></td></tr>");
                    }
                }else {
                    $("#errorContainer").show();
                    $("#errorContainer div span").text("Erreur : veuillez choisir une date valide");
                    $("#rowsContainer").html("<tr><td colspan='9'><h5 class='center'>Aucun résultat</h5></td></tr>");
                }
            });
        });
    </script>
    <script>
        // On s'attaque aux collapsibles
        $(function () {
            $(".cl_history").addClass("collapsible_element_active");
            $(".navigation_collapsible").collapsible('open',1);
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
