{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col l12">
            <h5>Historiques des présences</h5>

            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Historique de présences</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form class="col l12">
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row" id="errorContainer" style="display: none">
                                                    <div class="col l12">
                                                        <span class="red-text"></span>
                                                    </div>
                                                </div>
                                                <div class="row row-no-margin">
                                                    <div class="col l6">
                                                        <span>Veuillez sélectionner le département de votre choix</span>
                                                    </div>
                                                    <div class="col l6">
                                                        <select class="input-customized browser-default" id="selectedDep">
                                                            <option value="" selected>Département</option>
                                                            {% for dep in listDep %}
                                                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row row-no-margin">
                                                    <div class="col l6">
                                                        <span>Veuillez sélectionner la date de votre choix</span>
                                                    </div>
                                                    <div class="col l6">
                                                        <input type="text" class="datepicker input-customized" id="selectedDate" style="width: 98%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row row-no-margin">
                                                    <div class="col l12">
                                                        <input type="button" value="Rechercher" id="historySearchButton" class="right btn-perso-historique">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Section du classement des tops -->

            <div class="row">
                <div class="col l12">
                    <h5>Résultats de votre recherche</h5>
                    <br>
                    <table class="bordered striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom et prénoms</th>
                            <th>Fonction</th>
                            <th>Type d'heure</th>
                            <th>Quota</th>
                            <th>Arrivée</th>
                            <th>Pause</th>
                            <th>Fin pause</th>
                            <th>Départ</th>
                        </tr>
                        </thead>

                        <tbody id="rowsContainer">
                            <tr>
                                <td colspan="9">
                                    <h5 class="center">Aucun résultat</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        function convertTime(time) {
        }

        function convertType(type) {
            switch (type){
                case "1":
                    return "Heure figée";
                    break;
                case "2":
                    return "Quota horraire";
                    break;
                case "3":
                    return "Présence";
                    break;
            }
        }

        function returnEmployeeId(tabIndex,empTab) {
            return empTab[tabIndex];
        }
        $(function () {
            $("#historySearchButton").click(function () {
                //alert($("#selectedDate").val());
                if($("#selectedDate").val() != ""){
                    if($("#selectedDep").val() != ""){
                        $("#errorContainer").hide();
                        $("#rowsContainer").html("");
                        $.ajax({
                            type: 'POST',
                            url: "findHistorique",
                            data: {id:$("#selectedDep").val(),date:$("#selectedDate").val()},
                            timeout: 0,
                            success: function(data) {
                                console.log(data);
                                // S'il n'y a aucun employé
                                if(data == "null"){
                                    $("#rowsContainer").append("" +
                                        "<tr>" +
                                        "<td colspan='9' class='center'><span>Aucun employé pour ce département</span></td>" +
                                        "</tr>"
                                    );
                                }
                                var res = JSON.parse(data.content);
                                console.log(res);
                                var employees = [];
                                $.each(res.clockinRecord,function (id) {
                                    employees.push(res.clockinRecord[id].id);
                                });

                                console.log(data.emp);

                                var i=0;
                                $.each(data.emp,function (arrayID) {
                                    i++;
                                    var empId = returnEmployeeId(arrayID,data.emp);
                                    if(typeof (res.clockinRecord[arrayID][empId]) != "undefined"){
                                        //alert("finalement");
                                        switch (res.clockinRecord[arrayID][empId].type){
                                            case "1":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].quota + "</td>" +
                                                    "<td><span class='redSpan_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].arrive +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].bH+"</span></td>" +
                                                    "<td><span class='redSpanPauseBegin_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].pause +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].pBH+"</span></td>" +
                                                    "<td><span class='redSpanPauseEnd_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].finPause +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].pEH+"</span></td>" +
                                                    "<td><span class='redSpanEnd_1_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].depart +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].eH+"</span></td>" +
                                                    "</tr>"
                                                );
                                                if(res.clockinRecord[arrayID][empId].arrive > res.clockinRecord[arrayID][empId].bH){
                                                    $(".redSpan_1_"+i).css("color","red");
                                                }else if(res.clockinRecord[arrayID][empId].pause < res.clockinRecord[arrayID][empId].pBH){
                                                    $(".redSpanPauseBegin_1_"+i).css("color","red");
                                                }else if(res.clockinRecord[arrayID][empId].finPause > res.clockinRecord[arrayID][empId].pEH){
                                                    $(".redSpanPauseEnd_1_"+i).css("color","red");
                                                }else if(res.clockinRecord[arrayID][empId].depart < res.clockinRecord[arrayID][empId].eH){
                                                    $(".redSpanEnd_1_"+i).css("color","red");
                                                }
                                                break;
                                            case "2":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].quota + "</td>" +
                                                    "<td><span class='redSpan_2_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].arrive +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].bH+"</span></td>" +
                                                    "<td><span class='redSpanPauseBegin_2_"+i+"' style='font-size: 17px;font-weight: 500'> - </span></td>" +
                                                    "<td><span class='redSpanPauseEnd_2_"+i+"' style='font-size: 17px;font-weight: 500'> - </span></td>" +
                                                    "<td><span class='redSpanEnd_2_"+i+"' style='font-size: 17px;font-weight: 500'>" + res.clockinRecord[arrayID][empId].depart +"</span> <span style='margin-left: 4px;font-size: 12px'>"+res.clockinRecord[arrayID][empId].eH+"</span></td>" +
                                                    "</tr>"
                                                );
                                                if(res.clockinRecord[arrayID][empId].arrive > res.clockinRecord[arrayID][empId].bH){
                                                    $(".redSpan_2_"+i).css("color","red");
                                                }else if(res.clockinRecord[arrayID][empId].pause < res.clockinRecord[arrayID][empId].pBH){
                                                    $(".redSpanPauseBegin_2_"+i).css("color","red");
                                                }else if(res.clockinRecord[arrayID][empId].finPause > res.clockinRecord[arrayID][empId].pEH){
                                                    $(".redSpanPauseEnd_2_"+i).css("color","red");
                                                }else if(res.clockinRecord[arrayID][empId].depart < res.clockinRecord[arrayID][empId].eH){
                                                    $(".redSpanEnd_2_"+i).css("color","red");
                                                }
                                                break;
                                            case "3":
                                                $("#rowsContainer").append("" +
                                                    "<tr>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].id + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].nom + " " + res.clockinRecord[arrayID][empId].prenom + "</td>" +
                                                    "<td>" + res.clockinRecord[arrayID][empId].function + "</td>" +
                                                    "<td>" + convertType(res.clockinRecord[arrayID][empId].type) + "</td>" +
                                                    "<td colspan='5' class='green lighten-2 white-text center'> Présent </td>" +
                                                    "</tr>"
                                                );
                                                break;

                                        }
                                    }else{
                                        //alert("nexiste pas");
                                        $("#rowsContainer").append("" +
                                            "<tr>" +
                                            "<td colspan='9' class='center red lighten-3 white-text'> Employé " + data.emp[arrayID] + " Absent</td>" +
                                            "</tr>"
                                        );
                                    }
                                });
                            },
                            error: function(msg) {
                                alert("erreur"); }
                        });
                    }else {
                        $("#errorContainer").show();
                        $("#errorContainer div span").text("Erreur : veuillez choisir un département");
                        $("#rowsContainer").html("<tr><td colspan='9'><h5 class='center'>Aucun résultat</h5></td></tr>");
                    }
                }else {
                    $("#errorContainer").show();
                    $("#errorContainer div span").text("Erreur : veuillez choisir une date valide");
                    $("#rowsContainer").html("<tr><td colspan='9'><h5 class='center'>Aucun résultat</h5></td></tr>");
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
