{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col l9 offset-l3">
            <h5>Changer les images de veille</h5>

            <!-- Petites sections carrées -->

            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Images de veille</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form class="col l12">
                                        <div class="row">
                                            <div class="col l12">
                                                Cliquez sur une image pour choisir une autre
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col l4 card">
                                                <img src="{{ asset("img/img1.jpg") }}" class="preview" alt="image">
                                            </div>
                                            <div class="col l4 card">
                                                <img src="{{ asset("img/img2.jpg") }}" class="preview" alt="image">
                                            </div>
                                            <div class="col l4 card">
                                                <img src="{{ asset("img/img3.jpg") }}" class="preview" alt="image">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col l12 center">
                                                <input type="submit" value="Continuer" class="btn-perso-historique">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
