{% extends 'base.html.twig' %}


{% block title %}C.A.S - Employé{% endblock %}

{% block body %}
    <div class="row">
        <div class="col l12">
            <h5 class="page-title"><span class="fa fa-upload"></span> Nouveaux employés</h5>
            <p class="description_message">Importez une quantité importante d'employés depuis un fichier excel</p>
            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active collapsible-header-title">Formulaire d'upload de nouveaux employés</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                {% for message in  app.session.flashbag.get('notice') %}
                                    <div class="row">
                                        <div class="col l12">
                                            <div class="operation_message">
                                                {{ message }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <form enctype="multipart/form-data" method="post" action="{{ path('importEmployees') }}" class="importForm" style="display: none">
                                    <input type="file" class="fileInput" name="excelFile">
                                </form>
                                <div class="row">
                                    <div class="col l12 clickZone" style="cursor: pointer;border: solid 1px rgba(0,0,0,0.2);border-radius:10px;background-color:rgba(0,0,0,0.1);text-align: center;padding: 40px 0px">
                                        <p class="introText">Choisissez un fichier excel local</p>
                                        <br/>
                                        <span class="fa fa-download fa-4x" id="icon"></span>
                                        <br/>
                                        <p class="fileNameText"></p>
                                    </div>
                                    <div class="row">
                                        <div class="col l12" style="text-align: center">
                                            <br/>
                                            <button class="btn-perso-historique validateButton" disabled>Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            // Click simulation
            $('.clickZone').click(function () {
                $('.fileInput').click();
            });
            // Submiting form
            $('.validateButton').click(function () {
                $('.importForm').submit();
            });
            // On file input value change
            $('.fileInput').change(function () {
                $('.introText').html("Vous avez choisi un fichier");
                $('#icon').attr("class","fa fa-file-excel fa-4x");
                $('#icon').attr("style","color:green");
                $('.validateButton').removeAttr("disabled");
                $('.fileNameText').html($('.fileInput')[0].files[0].name);
            });
        });
    </script>
    <script>
        // On s'attaque aux collapsibles
        $(function () {
            $(".cl_iEmp").addClass("collapsible_element_active");
            $(".navigation_collapsible").collapsible('open',5);
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
