{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col l9 offset-l3">
            <h5>Accueil</h5>

            <!-- Petites sections carrées -->

            <div class="row">
                <div class="col l3 m6 s12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Retards<span class="badge teal lighten-2 white-text">26</span></div>
                            <div class="collapsible-body center">
                                <a href="#" class="fa fa-th-list fa-4x red-text text-lighten-3"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col l3 m6 s12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Départs<span class="badge teal lighten-2 white-text">13</span></div>
                            <div class="collapsible-body center">
                                <a href="#" class="fa fa-paper-plane fa-4x teal-text text-lighten-3"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col l3 m6 s12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Permissions<span class="badge teal lighten-2 white-text">17</span></div>
                            <div class="collapsible-body center">
                                <a href="#" class="fa fa-th-list fa-4x grey-text text-lighten-3"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col l3 m6 s12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Absences<span class="badge teal lighten-2 white-text">26</span></div>
                            <div class="collapsible-body center">
                                <a href="#" class="fa fa-th-list fa-4x blue-text text-lighten-3"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Section du classement des tops -->

            <div class="row">
                <div class="col l6 m6 s12">
                    <h5>Top retardataires</h5>
                    <br>
                    <div class="valignwrapper" style="padding-bottom: 30px">
                        <i class="fa fa-user top"></i>
                        <span class="top user-info-home">
                            <span>Abessi Francis</span>
                            <br>
                            <span>1h05 min</span>
                            <br>
                            <span>Département informatique</span>
                        </span>
                    </div>
                    <div class="valignwrapper" style="padding-bottom: 30px">
                        <i class="fa fa-user top"></i>
                        <span class="top user-info-home">
                            <span>Abessi Francis</span>
                            <br>
                            <span>1h05 min</span>
                            <br>
                            <span>Département informatique</span>
                        </span>
                    </div>
                    <div class="valignwrapper" style="padding-bottom: 30px">
                        <i class="fa fa-user top"></i>
                        <span class="top user-info-home">
                            <span>Abessi Francis</span>
                            <br>
                            <span>1h05 min</span>
                            <br>
                            <span>Département informatique</span>
                        </span>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <h5>Top départs prématurés</h5>
                    <br>
                    <div class="valignwrapper" style="padding-bottom: 30px">
                        <i class="fa fa-user top"></i>
                        <span class="top user-info-home">
                            <span>Abessi Francis</span>
                            <br>
                            <span>1h05 min</span>
                            <br>
                            <span>Département informatique</span>
                        </span>
                    </div>
                    <div class="valignwrapper" style="padding-bottom: 30px">
                        <i class="fa fa-user top"></i>
                        <span class="top user-info-home">
                            <span>Abessi Francis</span>
                            <br>
                            <span>1h05 min</span>
                            <br>
                            <span>Département informatique</span>
                        </span>
                    </div>
                    <div class="valignwrapper" style="padding-bottom: 30px">
                        <i class="fa fa-user top"></i>
                        <span class="top user-info-home">
                            <span>Abessi Francis</span>
                            <br>
                            <span>1h05 min</span>
                            <br>
                            <span>Département informatique</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
