{% extends 'base.html.twig' %}


{% block title %}C.A.S - Employé{% endblock %}

{% block body %}

<!-- Modal for ajax loading -->
<div>
    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content" style="width: 200px;display:table;position:relative;margin: 0 auto; top: calc(50% - 24px);">
            <p class="center">
                <img class="mw-100 mh-100" src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">
                <h2>Synchronisation des informations des employés</h2>
                <div class="row card">
                    <div class="col-lg-12 card-body">
                        <!-- hidden input -->
                        <div style="display: none">
                            <select id="depSelected">
                                {% for dep in departements %}
                                    <option value="{{ dep.id }}">{{ dep.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">


                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <h4 class="">Mise à jour des images de profil</h4>

                                                <div class="collapsible-body" style="padding-bottom: 0px">
                                                    <div class="row">
                                                        <form class="col-lg-12" id="main_form">
                                        <span id="type1">

                                            <div class="row">
                                                <div class="col l3">
                                                    <div id="updateForAll" class="btn btn-success btn-circle btn-md">
                                                        <span class="fa fa-sync fa-2x"></span>
                                                    </div>
                                                    <span>Synchronisation</span>
                                                </div>
                                                <div class="col l4">
                                                    <div id="cancelForAll" class="btn btn-danger btn-circle btn-md">
                                                        <span class="fa fa-times-circle fa-2x"></span>
                                                    </div>
                                                    <span>Annuler la synchronisation</span>
                                                </div>
                                            </div>
                                        </span>
                                                            <h5 class="mt-3">
                                                                Changer l'état de toutes les machines d'un département donné
                                                            </h5>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrainWidth: false, // Does not change width of dropdown to that of the activator
                    hover: true, // Activate on hover
                    gutter: 0, // Spacing from edge
                    belowOrigin: false, // Displays dropdown below the button
                    alignment: 'left', // Displays dropdown with edge aligned to the left of button
                    stopPropagation: false // Stops event propagation
                }
            );
        });
    </script>
    <!-- Script pour les évenements de mise à jour -->
    <script>
        $(function () {
            var tab = [];
            $.each($("#depSelected").children(),function (arrayID) {
                var el = $(this).attr("value");
                //console.log("Index : "+arrayID+" Value : "+el);
                tab.push(el);
            });
            console.log(tab);
            //var data = {nom:"Ebenezer",age:21};
            //var tab2 = [data,{nom:"Francis",age:21}];
            //console.log(tab2);
            $("#updateForAll").click(function () {
                $('#modal_loading').modal('show');
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncEmpPP') }}",
                    data: {"deps":tab},
                    success: function (data) {
                        console.log(data);

                        // Closing the loading box

                        $('#modal_loading').modal('hide');
                    },
                    error: function (msg) {
                        // Closing the loading box
                        $('#modal_loading').modal('hide');
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>
{% endblock %}
