{% extends 'base.html.twig' %}


{% block title %}C.A.S - Administration{% endblock %}

{% block body %}

<!-- Modal for ajax loading -->
<div id="modal_loading" class="modal ajax_modals">
    <div class="modal-content">
        <p class="center">
            <img src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">
                <div class="col-lg-12">
                    <h2>Attribuer l'administration à un employé</h2>
                </div>
                <div class="row card">
                    <div class="col-lg-12 card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header collapsible-header-title active">Définir un employé en tant qu'administrateur</div>
                                        <div class="collapsible-body" style="padding-bottom: 0px">
                                            <form method="post" action="{{ path('addAdmin') }}">
                                                <div class="row">
                                                    <div class="col l6">
                                                        <span class="detailSpan">Choisissez l'employé</span>
                                                        <br>
                                                        <select name="employe" class="form-control">
                                                            {% for emp in employe %}
                                                                <option value="{{ emp.id }}">{{ emp.surname~" "~emp.lastName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-lg-12">
                                                        <input type="submit" class="btn btn-success" value="Valider">
                                                    </div>
                                                </div>
                                                {% if status is defined and status == 200 %}
                                                    <div class="alert alert-success center" style="padding: 10px;border-radius: 5px">Cet employé a été définie en tant qu'administrateur</div>
                                                    <br>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
