{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col l9 offset-l3">
            <h5>Informations sur un employé</h5>
            <div class="row">
                <div class="col l12">
                    <ul class="collapsible popout" data-collapsible="">
                        <li>
                            <div class="collapsible-header active">
                                Choix du département
                            </div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <div class="col l6">
                                        <span>Veuillez choisir le département <span class="red-text">*</span></span>
                                    </div>
                                    <div class="col l6">
                                        <select class="input-customized browser-default" id="depSelect">
                                            <option value="" selected>Département</option>
                                            {% for dep in listDep %}
                                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l12">
                                        <table class="bordered striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Profil</th>
                                                <th>Nom et prénoms</th>
                                                <th>Fonction</th>
                                                <th>Salaire</th>
                                                <th>Téléphone</th>
                                                <th>Adresse</th>
                                                <th>Empreintes</th>
                                                <th>Edit</th>
                                            </tr>
                                            </thead>
                                            <tbody id="rowsContainer">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Script Ajax de chargement des données #}
    <script>
        $(function(){
            /* Création de la fonction de chargement des données */

            function loadData () {
                var idEl = $("#depSelect").val();
                var link = '{{ path("returnEmployees") }}';
                //alert(link);
                $.ajax({
                    type: 'GET',
                    url: link,
                    success: function(data) {
                        console.log(data);
                        //alert("Le résultat : "+data);
                        //alert("la longueur : "+data.length);
                        /* Au changement d'un département,plus de requete.On ne fait que charger les données */
                        $("#depSelect").change(function(){
                            /* On vide le contenu de la table */
                            $("#rowsContainer").html("");
                            /* On récupère le département sélectionné */
                            var selectedDep = $("#depSelect").val();
                            for(var i=0;i<data.length;i++){
                                if(data[i].fingerprint != null){
                                    console.log(data[i].fingerprint);
                                    var fp = JSON.parse(data[i].fingerprint);
                                    console.log("length : "+fp.length);
                                }else{
                                    alert("Cest nul");
                                }
                                //alert("L'id dep est "+res.employees[i].departement.id);
                                /* On vérifie si oui ou nom cet employé appartient au département
                                 * Si oui on l'affiche
                                 * Sinon on l'ignore tout simplement
                                 */
                                if(data[i].dep == selectedDep){
                                    //var mDate = new Date(data[i].hireDate.timestamp*1000).toLocaleDateString();
                                    //alert(mDate);
                                    $("#rowsContainer").append("" +
                                        "<tr>" +
                                        "<td>"+data[i].id+"</td>" +
                                        "<td><img src=\"{{ asset(""~ user_profile_pictures)~"/" }}"+data[i].picPath+"\" alt=\" profil_picture\" style=\"width:50px;height:50px\"></td>" +
                                        "<td>"+data[i].surname+" "+data[i].lastName+"</td>" +
                                        "<td>"+data[i].function+"</td>" +
                                        "<td>"+data[i].salary+"</td>" +
                                        "<td>"+data[i].contact+"</td>" +
                                        "<td>"+data[i].adress+"</td>" +
                                        "<td>"+data[i].fingerprint+"</td>" +
                                        "<td><a href=\"editEmployee/"+data[i].id+"\"><button class=\"white-text blue simple-button-decoration\"><span class=\"fa fa-pencil-alt\"></span></button></a> <button class=\"white-text red simple-button-decoration\" onclick=\"demander("+data[i].id+")\"><span class=\"fa fa-trash\"></span></button></td>" +
                                        "</tr>"
                                    );
                                }
                            }
                        });
                    },
                    error: function(msg) {
                        alert("erreur"); }
                });
            }
            loadData();
        });
    </script>
    <script>
        function demander(theId) {
            var rep = confirm("Etes-vous sur de vouloir supprimer cet employé?");
            var path = "deleteEmployee/";
            path += theId;
            if(rep==true){
                window.location.href = path;
            }
        }
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
