<footer class="page-footer" style="background-color: rgb(49, 59, 70)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 s12">
                <h2 class="text-white">About CAS</h2>
                <h4 class="grey-text text-lighten-4">CAS is the best way to manage your employees</h4>
            </div>
            <div class="col-lg-4 offset-l2 s12">
                <h2 class="text-white">Contact</h2>
                <ul>
                    <li>
                        <p class="grey-text text-lighten-3" href="#!">
                            <span class="fa fa-phone"></span>
                            +228 90 62 87 25
                        </p>
                    </li>
                    <li>
                        <p class="grey-text text-lighten-3" href="#!">
                            <span class="fa fa-computer-alt"></span>
                            Email: 2597434002@qq.com
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-white">
            © 2018 C.A.S All rigths reserved
            <a class="text-danger" href="http://www.gscmanagment.com">www.gscmanagment.com</a>
        </div>
    </div>
</footer>
